
<!-- <h1>Todo list</h1> -->
<h6></h6>
<ul class="todos">

</ul>
<form action="/api" method="post">
		<input type="text" id="todo" name="todo">
		<input type="submit" id="addTodo" value="Add Todo">
</form>




<br>
<button class="remove_all_todos">Clear All Todos</button>
<script type="whatever">
	@todo_collection: 
	<div class="information">
		<%= @todo_collection.inspect %>
	</div>
	
</script>



<script id="todo-template" type="text/template">

	<li class="todo" id="{{id}}">
		<span class="name">{{name}}</span>
		<span id="edit-todo" class="fa fa-pencil-square-o"></span>
		<span id="done-todo" class="fa fa-square-o"></span>
	</li>
	
</script>