
<h1>Todos: <%= @todo_collection.count %></h1>
<ul>
	<li>First, find out why jquery is throughing error</li>
	<li>Click to edit, onchange update</li>
	<li>Click square to complete</li>
	<li>Button to archive all completed todos</li>
	<li>page list of completed todos</li>
	<li>organize completed todos by date and time</li>
</ul>

<ul class="todos">

</ul>

<form action="/todos" method="post">
	<input type="text" id="todo" name="todo">
	<input type="submit" id="addTodo" value="Add Todo">
</form>

<br>
<button class="remove_all_todos">Clear All Todos</button>
<button>View Archive</button>


<script type="whatever">
	@todo_collection: 
	<div class="information">
		<%= @todo_collection.inspect %>
	</div>	
	<span class="edit-todo fa fa-pencil-square-o"></span>
</script>

<script id="todo-template" type="text/template">

	<li class="todo" id="{{id}}" done="{{done}}">
		<div class="todo-name">
			<input type="text" class="name" value="{{name}}">
		</div>
		<div class="todo-check">
			<span class="done-todo fa {{done-class}}"></span>
		</div>
	</li>
	
</script>