<h1>Dashboard - <small><%= Time.now %></small></h1>

<form id="list" action="/user" method="POST">
	<input type="text" name="item" id="item" autofocus>
	<input type="submit">
</form>

<ol id="list-of-things">
	<% @users.each do | user | %>
		<li id="<%= user.id %>">
			<input type="text" value="<%= user.name %>" />
			<!-- <button id="<%= user.id %>" class="delete">Destroy</button> -->
			<button class="update">Update</button>
		</li>
	<% end %>
</ol>



