/*html,body { height: 100%; }*/
body {
	font-family: consolas;
	overflow-y:scroll;
}
#page {
	/*height: 100%;*/
	padding: 1em;
	max-width: 600px;
	margin: 0 auto;
	box-shadow: 0px 0px 15px -6px #444;
}
.information {
	background-color: #eee;
	height:150px;
	overflow-y:scroll;
	border: 1px solid #444;
	padding: 1em;
}
.todos {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 150px;
	overflow-y: scroll;
	border: 1px solid #eee;
	padding: 1em;
	margin-bottom: 1em;
	
}
.todo {
	position: relative;
	display:block;
	margin-bottom:1px;
	padding: 5px;
	border: 1px solid #fff;
}
.todo input {
	width: 90%;
	/*background-color: transparent;*/
	/*border: 0;*/
}
.done {
	position: absolute;
	right: 5px;
	top: 4px;
	font-size: 24px;
	color: #ccc;
}
.fa-square-o {
	right: 7px;
}
.todo:hover {
	cursor: pointer;
	border: 1px solid #eee;
}
.fr {
	float: right;
}

input[type=submit],
button {
	background-color: rgb(255, 191, 55);
	border: 0;
	color: #fff;
	padding: 5px 15px;
}
