@import "normalize";
@import "animate";

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-family: arial, helvetica, sans-serif;
	overflow-y:scroll;
	background-color: #222;
	color: #eee;
	font-size: 14px;
}
a {
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
	margin-top:0;
	line-height: 1;
}
input,
button,
textarea {
	color: #222;
	outline: 0;
	border: 0;
	padding: 3px;
	display: inline-block;
	width: 100%;
	line-height: 1;
	font-size: 100%;
}

input[type=submit],
button {
	background: none;
	color: #eee;
	&:hover {
		background-color: #eee;
		color: #222;		
	}
}

#main-navigation {
	width: 100%;
	background-color: #333;
	font-size: 24px;
	padding: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	a {
		color: #666;
		display: inline-block;
		margin-right: 20px;
		font-family: consolas;		
		&:hover {	
			color: #999;
		}
	}
}
#page {
	width: 960px;
	margin: 1em auto;
	border: 1px solid #444;
	border-radius: 10px;
	box-shadow: 0px 0px 8px -2px #000;
	#inner {
		padding: 2em;
	}
}
#list {
	input {
		max-width: 300px;
	}
}
#list-of-things {
	margin: 1em auto;
	padding: 0;
	list-style: none;
	li {
		overflow: hidden;
		display: block;
		margin-bottom: 1px;
		padding: 1em;
		background-color: #111;
		background-color: #635823;

		button {
			margin-right:1px;
			max-width: 10%;			
		}
		input {
			max-width: 78%;
			background-color: #111;
			background-color: #635823;
			color: #eee;
		}		
	}
}
